
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        .header-blur-background {
            
            
        }
    }


  .top-bun, 
  .patty, 
  .bottom-bun {
    height: 1px;
  }


  .top-bun, 
  .patty, 
  .bottom-bun {
    height: 1px;
  }



.fe-67920c2f6aa70b3eec26d399 {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(7,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
}

@media (min-width: 768px) {
  .background-width--inset .fe-67920c2f6aa70b3eec26d399 {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-67920c2f6aa70b3eec26d399 {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(13,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-841c33c6da9226cb94c1 {
    grid-area: 1/2/4/10;
    z-index: 0;

    @media (max-width: 767px) {
      
    }
  }

  .fe-block-841c33c6da9226cb94c1 .sqs-block {
    justify-content: center;
  }

  .fe-block-841c33c6da9226cb94c1 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-841c33c6da9226cb94c1 {
      grid-area: 4/2/7/13;
      z-index: 0;

      
    }

    .fe-block-841c33c6da9226cb94c1 .sqs-block {
      justify-content: center;
    }

    .fe-block-841c33c6da9226cb94c1 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-d5571757436c18c73d2f {
    grid-area: 4/2/7/7;
    z-index: 1;

    @media (max-width: 767px) {
      
    }
  }

  .fe-block-d5571757436c18c73d2f .sqs-block {
    justify-content: flex-end;
  }

  .fe-block-d5571757436c18c73d2f .sqs-block-alignment-wrapper {
    align-items: flex-end;
  }

  @media (min-width: 768px) {
    .fe-block-d5571757436c18c73d2f {
      grid-area: 7/2/9/9;
      z-index: 1;

      
    }

    .fe-block-d5571757436c18c73d2f .sqs-block {
      justify-content: center;
    }

    .fe-block-d5571757436c18c73d2f .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }




.fe-67920c2f6aa70b3eec26d39c {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(22,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
}

@media (min-width: 768px) {
  .background-width--inset .fe-67920c2f6aa70b3eec26d39c {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-67920c2f6aa70b3eec26d39c {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(18,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-543e1ee2095dcc4bca6d {
    grid-area: 1/2/12/10;
    z-index: 1;

    @media (max-width: 767px) {
      
    }
  }

  .fe-block-543e1ee2095dcc4bca6d .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-543e1ee2095dcc4bca6d .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-543e1ee2095dcc4bca6d {
      grid-area: 1/2/9/26;
      z-index: 1;

      
    }

    .fe-block-543e1ee2095dcc4bca6d .sqs-block {
      justify-content: center;
    }

    .fe-block-543e1ee2095dcc4bca6d .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-dbdbf6be9fb478de63da {
    grid-area: 12/2/17/10;
    z-index: 2;

    @media (max-width: 767px) {
      
    }
  }

  .fe-block-dbdbf6be9fb478de63da .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-dbdbf6be9fb478de63da .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-dbdbf6be9fb478de63da {
      grid-area: 10/2/12/26;
      z-index: 2;

      
    }

    .fe-block-dbdbf6be9fb478de63da .sqs-block {
      justify-content: center;
    }

    .fe-block-dbdbf6be9fb478de63da .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-yui_3_17_2_1_1737624578366_50400 {
    grid-area: 17/2/23/10;
    z-index: 2;

    @media (max-width: 767px) {
      
        
      
    }
  }

  .fe-block-yui_3_17_2_1_1737624578366_50400 .sqs-block {
    justify-content: center;
  }

  .fe-block-yui_3_17_2_1_1737624578366_50400 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1737624578366_50400 {
      grid-area: 13/2/19/26;
      z-index: 2;

      
        
      
    }

    .fe-block-yui_3_17_2_1_1737624578366_50400 .sqs-block {
      justify-content: center;
    }

    .fe-block-yui_3_17_2_1_1737624578366_50400 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }




.fe-67920c2f6aa70b3eec26d3a8 {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(12,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
}

@media (min-width: 768px) {
  .background-width--inset .fe-67920c2f6aa70b3eec26d3a8 {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-67920c2f6aa70b3eec26d3a8 {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(2,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-7bcfe62881ab04f4d282 {
    grid-area: 7/2/9/10;
    z-index: 0;

    @media (max-width: 767px) {
      
    }
  }

  .fe-block-7bcfe62881ab04f4d282 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-7bcfe62881ab04f4d282 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-7bcfe62881ab04f4d282 {
      grid-area: 1/5/3/23;
      z-index: 0;

      
    }

    .fe-block-7bcfe62881ab04f4d282 .sqs-block {
      justify-content: center;
    }

    .fe-block-7bcfe62881ab04f4d282 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }




.fe-67920bfca859697b49714827 {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(7,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
}

@media (min-width: 768px) {
  .background-width--inset .fe-67920bfca859697b49714827 {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-67920bfca859697b49714827 {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(8,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-432f3ccb3145cf9617b4 {
    grid-area: 1/2/3/9;
    z-index: 0;

    @media (max-width: 767px) {
      
    }
  }

  .fe-block-432f3ccb3145cf9617b4 .sqs-block {
    justify-content: flex-end;
  }

  .fe-block-432f3ccb3145cf9617b4 .sqs-block-alignment-wrapper {
    align-items: flex-end;
  }

  @media (min-width: 768px) {
    .fe-block-432f3ccb3145cf9617b4 {
      grid-area: 1/2/3/9;
      z-index: 0;

      
    }

    .fe-block-432f3ccb3145cf9617b4 .sqs-block {
      justify-content: flex-end;
    }

    .fe-block-432f3ccb3145cf9617b4 .sqs-block-alignment-wrapper {
      align-items: flex-end;
    }
  }

  .fe-block-yui_3_17_2_1_1737629806086_34790 {
    grid-area: 3/2/4/10;
    z-index: 6;

    @media (max-width: 767px) {
      
        
      
    }
  }

  .fe-block-yui_3_17_2_1_1737629806086_34790 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-yui_3_17_2_1_1737629806086_34790 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1737629806086_34790 {
      grid-area: 3/2/4/6;
      z-index: 6;

      
        
      
    }

    .fe-block-yui_3_17_2_1_1737629806086_34790 .sqs-block {
      justify-content: center;
    }

    .fe-block-yui_3_17_2_1_1737629806086_34790 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-yui_3_17_2_1_1737629806086_37952 {
    grid-area: 4/2/5/10;
    z-index: 7;

    @media (max-width: 767px) {
      
        
      
    }
  }

  .fe-block-yui_3_17_2_1_1737629806086_37952 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-yui_3_17_2_1_1737629806086_37952 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1737629806086_37952 {
      grid-area: 5/2/6/6;
      z-index: 7;

      
        
      
    }

    .fe-block-yui_3_17_2_1_1737629806086_37952 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-yui_3_17_2_1_1737629806086_37952 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-6f749f17e73541266bef {
    grid-area: 5/2/6/10;
    z-index: 2;

    @media (max-width: 767px) {
      
    }
  }

  .fe-block-6f749f17e73541266bef .sqs-block {
    justify-content: center;
  }

  .fe-block-6f749f17e73541266bef .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-6f749f17e73541266bef {
      grid-area: 6/2/7/26;
      z-index: 2;

      
    }

    .fe-block-6f749f17e73541266bef .sqs-block {
      justify-content: center;
    }

    .fe-block-6f749f17e73541266bef .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-dd0382c706edbfe91e65 {
    grid-area: 6/2/8/6;
    z-index: 4;

    @media (max-width: 767px) {
      
    }
  }

  .fe-block-dd0382c706edbfe91e65 .sqs-block {
    justify-content: flex-end;
  }

  .fe-block-dd0382c706edbfe91e65 .sqs-block-alignment-wrapper {
    align-items: flex-end;
  }

  @media (min-width: 768px) {
    .fe-block-dd0382c706edbfe91e65 {
      grid-area: 7/2/9/11;
      z-index: 4;

      
    }

    .fe-block-dd0382c706edbfe91e65 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-dd0382c706edbfe91e65 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }



    #block-yui_3_17_2_1_1737629806086_37952 .social-icons-style-border .sqs-svg-icon--wrapper {
      
        box-shadow: 0 0 0 2px inset;
      
      border: none; 
    }
  
